@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Orbitron:wght@500&display=swap');

.App {
  text-align: center;

}


.ui.button {
  font-family: 'Orbitron';
}

.main-text {
  margin-top: 2rem;
}

h1,
h2 {
  margin-top: 4rem;
  font-family: 'Gloria Hallelujah' !important;
}

.dropShadow {
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
}

#login-header {
  background-color: rgb(3, 24, 151);
  padding: none;
  height: 20px;
  line-height: 5px;
  color: whitesmoke
}