@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,500;1,100;1,400;1,600;1,900&display=swap');


body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-size: cover !important;
  background-image: url('https://i.imgur.com/ysqPz4G.jpg') !important;
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important; 
  -o-background-size: cover !important;
}

body .ui.cards>.card {
  box-shadow: none;
}

#login-header {
  background-color: rgb(3, 24, 151);
  padding: none;
  color: whitesmoke;
  font-family: 'Press Start 2P', cursive !important;
}

#header-button {
  position: right;
  border: solid grey;
  margin: none;
  padding: none;
}

#logout-button {
  background-color: hsla(53, 88%, 63%, 1);
  text-shadow: 1px 1px hotpink;


}
.layer {
  background-color: rgba(248, 247, 216, 0.7);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
#title-text {
  font-family: 'Raleway', cursive !important;
  font-size: 86px !important;
  margin-top: 6rem;
  color: hsla(348, 79%, 72%, 1);
  text-shadow: 3px 3px hsla(58, 83%, 69%, 1);
}
h2 {
  color: hsla(348, 79%, 72%, 1);
}
.card-style {
  padding-top: 1.5em;
}
.ui.button {
  font-family: 'Gloria Hallelujah', cursive !important;
}
.main-text {
  margin-top: 2rem;
  padding-bottom: 5% !important;
}
#show-modal {
  align-items: center;
  background-color: #abd5f2 !important;
  padding: 2em 2em 2em 2em;
  position: absolute !important;
  margin-top: 17rem !important;
  margin-left: 50% !important;
  transform: translate(-50%, -50%);
  border: solid whitesmoke 4px;
  margin-top: 12rem;
  color: rgb(241, 247, 116) !important;
}

#nav-title.header.item {
  font-family: 'Gloria Hallelujah', cursive !important;
  font-size: 15px;
  margin: none !important;
  color: hsla(270, 40%, 98%, 1);
  font-family: cursive;
  position: relative;
}
.ui.positive.button {
  background-color: rgb(3, 24, 151) !important;
  font-family: 'Press Start 2P', cursive !important;
}
@media only screen and (min-width: 1200px) {
  .ui.container {
    width: auto !important;
    margin-left: auto !important;
    margin-right: auto !important;
  }
}
#logout-btn,
#login-modal,
#reg-modal {
  position: "end" !important;
}
#post-timestamp {
  font-size: 9px;
}
#user-header {
  width: 25rem;
  margin: 0 auto;
  border-radius: 70%;
  background-color: black;
}
#post-card {
  margin-top: 6rem !important;
  background: #d89bd0 !important;
  font-family: 'Raleway' !important;
  font-weight: 900 !important;
}
.card-header{
  font-size: 30px !important;
  font-weight: 900 !important;
  font-family: 'Gloria Hallelujah', cursive !important;
}
.card-description{
  margin-bottom: 1rem !important;
  margin-top: 1rem !important;
  font-family: 'Raleway' !important;
  font-weight: 900 !important;
}
#back-button {
  background-color: hotpink;
  border: solid rgb(97, 222, 42) 4px;
}
#user-welcome {
  font-size: 37px;
  background-color: black;
  color: hsla(98, 51%, 62%, 1);
  text-shadow: 1px 1px rgb(97, 222, 42);
  width: 25rem;
  margin: 0 auto;
  margin-bottom: 4rem !important;
  border-radius: 70%;
}
.ui.container {
  margin: none;
}
.post-content-background{
  background-color: rgb(242 237 110) !important;
  border-radius: 25% !important;
}
.post-image{
  border-radius: 25% !important;
}
