@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Orbitron:wght@500&display=swap');

.App {
  text-align: center;

}


.ui.button {
  font-family: 'Orbitron';
}

h1,
h2 {
  font-family: 'Gloria Hallelujah' !important;
}

body {
  background-color: host-white hsla(270, 40%, 98%, 1);
}