body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: linear-gradient(to right,#7f53ac 0,#657ced 100%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body .ui.cards>.card{
  /*  box-shadow:  6px 6px 2px 1px rgba(255, 0, 255, .2);*/
    box-shadow: none;
  }

#login-header{
  background-color: rgb(3, 24, 151);
  height: 30px;
  line-height: 5px;
  color: whitesmoke
}

#header-button{
  position: right;
  border: solid grey;
}

.modal-body {
  background-color: rgb(253, 254, 248);
}

#login-button{
  background-color: rgb(0, 121, 174);
  z-index: 5;
  position: absolute;
}

.ui focus input{
  display: block;
  position: absolute;
  align-items: center;
}